/* Write your CSS here */
.bg {
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-card {
  background-color: #ffffff;
  height: 70vh;
  min-width: 50vh;
  border-radius: 10px;
  padding: 80px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  color: #a35200;
}
.pp {
  font-size: 20px;
  font-weight: bold;
}
img {
  height: 300px;
}
button {
  border: 0;
  background-color: #f9d423;
  color: #a35200;
  height: 30px;
  font-weight: bold;
  border-radius: 5px;
  width: 100px;
}
.p {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  padding-right: 15px;
}
